.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-bottom: 64px;
}

.spinner {
  width: 32px;
  transform: rotate(360);
  animation: spinnerRotate 1s linear infinite;
}

@keyframes spinnerRotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}