.header_container {
  background-color: rgb(4, 96, 112);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 70px;
}

.user {
  display: flex;
  flex-direction: column;
}

.logout {
  color: white;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: chartreuse;
  font-size: 15px;
  align-items: center;
}

.logo > img {
  width: 50px;
}
